.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid transparent;
  padding: 0 32px;
  font-size: 14px;
  line-height: 40px;
  color: #8490ff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  position: relative;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .main-btn {
      font-size: 14px;
      padding: 0 20px;
      line-height: 40px; } }	
	
.light-rounded-buttons ul li {
  display: inline-block;
  margin-left: 18px;
  margin-top: 20px; }
  @media (max-width: 767px) {
    .light-rounded-buttons ul li {
      margin-left: 0; } }
  .light-rounded-buttons ul li:first-child {
    margin-left: 0; }

.light-rounded-buttons .main-btn {
  border-radius: 3px; }

.light-rounded-buttons .light-rounded-two {
  color: #fff;
  background-color: #8490ff;
  border-color: #8490ff; }
  .light-rounded-buttons .light-rounded-two:hover {
    color: #8490ff;
    background-color: transparent;
	}  



/*===========================
    1. COMMON CSS 
===========================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #121212; 
  cursor: default;}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none;
color: #8490ff;  }

i,
span,
a {
  display: inline-block; 
color: #6c6c6c;  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #121212;
  margin: 0px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #121212;
  margin: 0px; }

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }


/*===========================
    6.FORM ELEMENTS CSS 
===========================*/
.form-elements-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  color: #6c6c6c; }
  @media (max-width: 767px) {
    .form-elements-title {
      font-size: 24px;
      line-height: 35px; } }

.form-group {
  margin-bottom: 0; }

.form-input .help-block {
  margin-top: 2px; }
  .form-input .help-block .list-unstyled li {
    font-size: 12px;
    line-height: 16px;
    color: #fc3832; }

.form-input label {
  font-size: 12px;
  line-height: 18px;
  color: #6c6c6c;
  margin-bottom: 8px;
  display: inline-block; }

.form-input .input-items {
  position: relative; }
  .form-input .input-items input,
  .form-input .input-items textarea {
    width: 100%;
    height: 44px;
    border: 2px solid;
    padding-left: 44px;
    padding-right: 12px;
    position: relative;
    font-size: 16px; }
  .form-input .input-items textarea {
    padding-top: 8px;
    height: 130px;
    resize: none; }
  .form-input .input-items i {
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 20px;
    z-index: 9; }
  .form-input .input-items.default input,
  .form-input .input-items.default textarea {
    border-color: #a4a4a4;
    color: #6c6c6c; }
    .form-input .input-items.default input:focus,
    .form-input .input-items.default textarea:focus {
      border-color: #8490ff; }
    .form-input .input-items.default input::placeholder,
    .form-input .input-items.default textarea::placeholder {
      color: #6c6c6c;
      opacity: 1; }
    .form-input .input-items.default input::-moz-placeholder,
    .form-input .input-items.default textarea::-moz-placeholder {
      color: #6c6c6c;
      opacity: 1; }
    .form-input .input-items.default input::-moz-placeholder,
    .form-input .input-items.default textarea::-moz-placeholder {
      color: #6c6c6c;
      opacity: 1; }
    .form-input .input-items.default input::-webkit-input-placeholder,
    .form-input .input-items.default textarea::-webkit-input-placeholder {
      color: #6c6c6c;
      opacity: 1; }
  .form-input .input-items.default i {
    color: #6c6c6c; }
  .form-input .input-items.active input,
  .form-input .input-items.active textarea {
    border-color: #0067f4;
    color: #121212; }
    .form-input .input-items.active input::placeholder,
    .form-input .input-items.active textarea::placeholder {
      color: #121212;
      opacity: 1; }
    .form-input .input-items.active input::-moz-placeholder,
    .form-input .input-items.active textarea::-moz-placeholder {
      color: #121212;
      opacity: 1; }
    .form-input .input-items.active input::-moz-placeholder,
    .form-input .input-items.active textarea::-moz-placeholder {
      color: #121212;
      opacity: 1; }
    .form-input .input-items.active input::-webkit-input-placeholder,
    .form-input .input-items.active textarea::-webkit-input-placeholder {
      color: #121212;
      opacity: 1; }
  .form-input .input-items.active i {
    color: #0067f4; }
  .form-input .input-items.error input,
  .form-input .input-items.error textarea {
    border-color: #fc3832;
    color: #fc3832; }
    .form-input .input-items.error input::placeholder,
    .form-input .input-items.error textarea::placeholder {
      color: #fc3832;
      opacity: 1; }
    .form-input .input-items.error input::-moz-placeholder,
    .form-input .input-items.error textarea::-moz-placeholder {
      color: #fc3832;
      opacity: 1; }
    .form-input .input-items.error input::-moz-placeholder,
    .form-input .input-items.error textarea::-moz-placeholder {
      color: #fc3832;
      opacity: 1; }
    .form-input .input-items.error input::-webkit-input-placeholder,
    .form-input .input-items.error textarea::-webkit-input-placeholder {
      color: #fc3832;
      opacity: 1; }
  .form-input .input-items.error i {
    color: #fc3832; }
  .form-input .input-items.success input,
  .form-input .input-items.success textarea {
    border-color: #4da422;
    color: #4da422; }
    .form-input .input-items.success input::placeholder,
    .form-input .input-items.success textarea::placeholder {
      color: #4da422;
      opacity: 1; }
    .form-input .input-items.success input::-moz-placeholder,
    .form-input .input-items.success textarea::-moz-placeholder {
      color: #4da422;
      opacity: 1; }
    .form-input .input-items.success input::-moz-placeholder,
    .form-input .input-items.success textarea::-moz-placeholder {
      color: #4da422;
      opacity: 1; }
    .form-input .input-items.success input::-webkit-input-placeholder,
    .form-input .input-items.success textarea::-webkit-input-placeholder {
      color: #4da422;
      opacity: 1; }
  .form-input .input-items.success i {
    color: #4da422; }
  .form-input .input-items.disabled input,
  .form-input .input-items.disabled textarea {
    border-color: #a4a4a4;
    color: #6c6c6c;
    background: none; }
    .form-input .input-items.disabled input::placeholder,
    .form-input .input-items.disabled textarea::placeholder {
      color: #6c6c6c;
      opacity: 1; }
    .form-input .input-items.disabled input::-moz-placeholder,
    .form-input .input-items.disabled textarea::-moz-placeholder {
      color: #6c6c6c;
      opacity: 1; }
    .form-input .input-items.disabled input::-moz-placeholder,
    .form-input .input-items.disabled textarea::-moz-placeholder {
      color: #6c6c6c;
      opacity: 1; }
    .form-input .input-items.disabled input::-webkit-input-placeholder,
    .form-input .input-items.disabled textarea::-webkit-input-placeholder {
      color: #6c6c6c;
      opacity: 1; }
  .form-input .input-items.disabled i {
    color: #6c6c6c; }

.form-style-two .form-input .input-items input,
.form-style-two .form-input .input-items textarea {
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 44px; }

.form-style-two .form-input .input-items i {
  left: auto;
  right: 13px; }

.form-style-three .form-input {
  text-align: center; }
  .form-style-three .form-input .input-items input,
  .form-style-three .form-input .input-items textarea {
    border-radius: 50px;
    text-align: center; }

.form-style-four .form-input label {
  padding-left: 44px;
  margin-bottom: 0; }

.form-style-four .form-input .input-items input,
.form-style-four .form-input .input-items textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0; }

.form-style-five .form-input {
  position: relative; }
  .form-style-five .form-input label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    z-index: 5;
    padding: 0 5px; }
  .form-style-five .form-input .input-items input,
  .form-style-five .form-input .input-items textarea {
    border-radius: 5px; }


/*===========================
      20.CONTACT CSS 
===========================*/
.contact-area .section-title .title {
  font-size: 28px;
  font-weight: 600;
  line-height: 55px; }
  @media (max-width: 767px) {
    .contact-area .section-title .title {
      font-size: 24px;
      line-height: 35px; } }

.contact-area .section-title-2 .title {
  font-size: 42px;
  font-weight: 600;
  line-height: 55px; }
  @media (max-width: 767px) {
    .contact-area .section-title-2 .title {
      font-size: 24px;
      line-height: 35px; } }

.contact-form .single-form label {
  font-size: 12px;
  color: #a4a4a4;
  line-height: 18px;
  margin-left: 44px; }

.contact-form .single-form .input-form {
  position: relative; }
  .contact-form .single-form .input-form i {
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #6c6c6c; }
  .contact-form .single-form .input-form textarea,
  .contact-form .single-form .input-form input {
    width: 100%;
    height: 44px;
    padding-left: 45px;
    padding-right: 30px;
    color: #6c6c6c;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #a4a4a4;
    font-weight: 500; }
    .contact-form .single-form .input-form textarea::placeholder,
    .contact-form .single-form .input-form input::placeholder {
      opacity: 1;
      color: #6c6c6c; }
    .contact-form .single-form .input-form textarea::-moz-placeholder,
    .contact-form .single-form .input-form input::-moz-placeholder {
      opacity: 1;
      color: #6c6c6c; }
    .contact-form .single-form .input-form textarea::-moz-placeholder,
    .contact-form .single-form .input-form input::-moz-placeholder {
      opacity: 1;
      color: #6c6c6c; }
    .contact-form .single-form .input-form textarea::-webkit-input-placeholder,
    .contact-form .single-form .input-form input::-webkit-input-placeholder {
      opacity: 1;
      color: #6c6c6c; }
  .contact-form .single-form .input-form textarea {
    padding-top: 10px; }
  .contact-form .single-form .input-form .main-btn {
	border: 2px solid #8490ff;
    border-radius: 3px;
	}

.contact-info ul li .single-info {
  position: relative;
  margin-top: 19px; }
  .contact-info ul li .single-info .info-icon {
    position: absolute;
    top: 0;
    left: 0; }
    .contact-info ul li .single-info .info-icon i {
      color: #6c6c6c;
      font-size: 18px;
      line-height: 24px; }
  .contact-info ul li .single-info .info-content {
    padding-left: 30px; }
    .contact-info ul li .single-info .info-content .text {
      font-size: 16px;
      line-height: 24px;
      color: #6c6c6c;
      font-weight: 500; }

.contact-info .social li {
  display: inline-block;
  margin-right: 12px; }
  .contact-info .social li a {
    font-size: 32px;
    color: #6c6c6c;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .contact-info .social li a:hover {
      color: #8490ff; }

.contact-box {
  padding-top: 70px;
  padding-bottom: 120px;
  background-color: #f4f6f7; }

.single-contact-box {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px 35px;
  height: 255px; }
  @media (max-width: 767px) {
    .single-contact-box {
      padding: 24px 20px; } }
  .single-contact-box .box-icon {
    position: relative;
    display: inline-block; }
    .single-contact-box .box-icon i {
      font-size: 88px;
      position: relative;
      z-index: 5;
      color: #0067f4; }
    .single-contact-box .box-icon .shape {
      position: absolute;
      top: 0;
      left: 0; }
  .single-contact-box .box-content {
    margin-top: 24px; }
    .single-contact-box .box-content .box-title {
      font-size: 28px;
      line-height: 35px;
      color: #121212; }
    .single-contact-box .box-content .text {
      font-size: 14px;
      line-height: 20px;
      color: #121212;
      margin-top: 16px; }

div.n1:focus-within label {color: #8490ff;}
div.n1:focus-within .lni-user::before {color: #8490ff;}
div.n2:focus-within label {color: #8490ff;}
div.n2:focus-within .lni-envelope::before {color: #8490ff;}
div.n3:focus-within label {color: #8490ff;}
div.n3:focus-within .lni-phone-handset::before {color: #8490ff;}
div.n4:focus-within label {color: #8490ff;}
div.n4:focus-within .lni-map-marker::before {color: #8490ff;}
div.n5:focus-within label {color: #8490ff;}
div.n5:focus-within .lni-pencil-alt::before {color: #8490ff;}

div.single-info:hover a {color: #8490ff;}
div.single-info:hover .lni-mobile::before {color: #8490ff;}
div.single-info:hover .lni-phone-handset::before {color: #8490ff;}
div.single-info:hover .lni-envelope::before {color: #8490ff;}

